<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:aiad/breadcrumbs /-->

<!-- wp:group {"tagName":"main","className":"page-default section","layout":{"type":"default"},"anchor":"main"} -->
<main id="main" class="wp-block-group page-default section"><!-- wp:group {"className":"container page-default__inner","layout":{"type":"default"}} -->
<div class="wp-block-group container page-default__inner"><!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:post-title {"level":1,"className":"section-title page-default__title"} /-->

<!-- wp:post-content {"className":"entry-content","layout":{"type":"default"}} /--></article>
<!-- /wp:group -->

<!-- wp:aiad/comments /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
