<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:aiad/breadcrumbs /-->

<!-- wp:group {"tagName":"main","className":"single-partner","layout":{"type":"default"},"anchor":"main"} -->
<main id="main" class="wp-block-group single-partner"><!-- wp:group {"tagName":"section","className":"section section--top","layout":{"type":"default"}} -->
<section class="wp-block-group section section--top"><!-- wp:group {"className":"container","layout":{"type":"default"}} -->
<div class="wp-block-group container"><!-- wp:group {"tagName":"article","className":"partner-bio","layout":{"type":"default"}} -->
<article class="wp-block-group partner-bio"><!-- wp:post-title {"level":1,"className":"screen-reader-text"} /-->

<!-- wp:group {"className":"partner-bio__card fade-up","layout":{"type":"default"}} -->
<div class="wp-block-group partner-bio__card fade-up"><!-- wp:aiad/partner-logo /-->

<!-- wp:aiad/partner-intro /-->

<!-- wp:aiad/partner-links /-->

<!-- wp:aiad/partner-actions /--></div>
<!-- /wp:group --></article>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
